body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    user-select: none;
    align-items: center;
    background: linear-gradient(to right, #87CEEB, #CBC3E3);
}

.click {
    text-align: center;
    font-size: 2.3rem;
    position: fixed;
    bottom: 100px;
    left: 52rem;
}

.title {
    font-size: 2.5rem;
    position: fixed;
    top: 12rem;
    left: 47rem;
}

.container {
    padding-left: 350px;
    padding-top: 260px;
    border-radius: 10px;
    justify-content: center;
    align-content: center;
    margin: auto;
    min-height: 50vh;
}

.content {
    width: 50%;
    margin-top: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.row button {
    width: 60px;
    height: 30px;
    font-size: 16px;
    border: none;
    outline: none;
    margin: 5px;
    border-radius: 4px;
    transition: .1s;
    position: relative;
    bottom: -80px;
    box-shadow: 5px 5px 8px #00000020,
    -1px -1px 6px #ffff;
}

.row button:hover
{
    box-shadow:  inset 5px 5px 8px rgba(16, 16, 16, .1), inset -5px -5px 8px #fff;
    background: #fff;
}

.display #screen{
    margin-bottom: .5em;
    width: 25.4rem;
    height: 70px;
    font-size: 35px;
    outline: none;
    border: none;
    text-align: right;
    padding-left: -.5em;
    padding-right: .3em;
    position: absolute;
    left: 45.7rem;
    background: #ecf0f3;
    border-radius: 6px;
    box-shadow: inset 8px 10px 8px #cbced1,
    inset -8px -8px 8px #ffffff;
}

#eval
{
    background: #33cc33;
    color: #fff;
    box-shadow: inset 5px 5px 8px #59e859,
    inset -5px -5px 8px #0fc00f
}

#eval:hover
{
    box-shadow: inset 5px 5px 8px #2eb82e,
    inset -5px -5px 8px #33cc33;
}

#ac
{
    background: #33ccff;
    color: #fff;
    box-shadow: inset 5px 5px 8px #66d9ff,
    inset -5px -5px 8px #00ace6;
}

#ac:hover
{
    box-shadow: inset 5px 5px 8px #00ace6,
    inset -5px -5px 8px #00ace6;
}

#ce
{
    background: #ff3399;
    color: #fff;
    box-shadow: inset 5px 5px 8px #fc65b0,
    inset -5px -5px 8px #fc0f85
}

#ce:hover
{
    box-shadow: inset 5px 5px 8px #e60073,
    inset -5px -5px 8px #ff3399;
}


