.mainTime{
    text-align: center;
    font-size:100px;
}
table{
    margin:auto;
}
.subTimerButtons td{
    padding:10px;
}
.buttonTimer{
    border: none;
    outline: none;
    margin: 5px;
    border-radius: 4px;
    transition: .1s;
    box-shadow: 5px 5px 8px #00000020,
    -1px -1px 6px #ffff;
    font-size:25px;
    background:none;

}
.buttonTimer:hover{
    box-shadow:  inset 5px 5px 8px rgba(16, 16, 16, .1), inset -5px -5px 8px #fff;
    background: #fff;
}
.subTimer{
    margin:auto;
    text-align:center;
    width:50%;
    height:10%;
    padding:10px;
    box-shadow: 5px 5px 8px #00000020,
    -1px -1px 6px #ffff;
}
h3{
    display:inline;
}
.fa-square-xmark{
    float:right;
}
.fa-square-xmark:hover{
    color:red;
    cursor:pointer;
}
.noDisplay{
    display:none;
}
.fa-moon{
    display:none;
    color:gray;
}
.fa-sun{
    display:none;
   color:yellow;
}
input{
    background:none;
    border:none;
    width:50px;
    height:50px;
}
input:focus{
    outline:none;
}
.alarmInput td{
    font-size:35px;
    width:71px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.alarmRow{
    width:35%;
}
.toggle:hover{
    fill:white;
}