<!DOCTYPE html>
<!-- html is in English and goes left to right -->
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap" rel="stylesheet">
    <link href="/static/assets/css/conversion.css" rel="stylesheet">
    <script src="/static/assets/js/conversion.js" defer></script>
    <meta charset="UTF-8">
    <title>Conversion</title>
</head>

{% include "navbar.html" %}
<body>
<div class="Background"></div>
<div class="convert-container">
    <div class="title">Simple Length Conversion</div>
    <div class="row-padding" style="margin:0 -15px">
        <p class="text" style="margin-left:2px;margin-bottom:4px;">Type a value in any of the fields to convert between Length measurements:</p>
        <div class="half margin-top">
            <label>Feet: </label>
            <input id="inputFeet" style="margin-left:4px" class="input border" type="number" placeholder="ft" oninput="lengthConverter(this.id,this.value)" onchange="lengthConverter(this.id,this.value)">
        </div>
        <div class="half margin-top">
            <label>Inches: </label>
            <input id="inputInches" style="margin-left:4px" class="input border" type="number" placeholder="in" oninput="lengthConverter(this.id,this.value)" onchange="lengthConverter(this.id,this.value)">
        </div>
        <div class="half margin-top">
            <label>Meters: </label>
            <input id="inputMeters" style="margin-left:4px" class="input border" type="number" placeholder="m" oninput="lengthConverter(this.id,this.value)" onchange="lengthConverter(this.id,this.value)">
        </div>
        <div class="half margin-top">
            <label>Centimeters: </label>
            <input id="inputCentimeters" style="margin-left:4px" class="input border" type="number" placeholder="cm" oninput="lengthConverter(this.id,this.value)" onchange="lengthConverter(this.id,this.value)">
        </div>
        <div class="half margin-top">
            <label>Kilometers: </label>
            <input id="inputKilometers" style="margin-left:4px" class="input border" type="number" placeholder="km" oninput="lengthConverter(this.id,this.value)" onchange="lengthConverter(this.id,this.value)">
        </div>
        <div class="half margin-top">
            <label>Yards: </label>
            <input id="inputYards" style="margin-left:4px" class="input border" type="number" placeholder="yd" oninput="lengthConverter(this.id,this.value)" onchange="lengthConverter(this.id,this.value)">
        </div>
        <div class="half margin-top">
            <label>Miles: </label>
            <input id="inputMiles" style="margin-left:4px" class="input border" type="number" placeholder="mi" oninput="lengthConverter(this.id,this.value)" onchange="lengthConverter(this.id,this.value)">
        </div>
    </div>
</div>
</body>
</html>