<!DOCTYPE html>
{% extends "layout.html" %}

{% block body %}

    <style>
        h1 {text-align: center;}
        p {text-align: center;}
        h2 {text-align: center;}
        li {text-align: center;}
        div {text-align: center;}
    </style>

    <h1> Planning and Organizer </h1>
<br>
    <h2> Mission Statement </h2>
    Welcome to our Health and Wellness Website. This website provides various tools for students in their daily lives through school and their extracurricular activities. We want to make sure this website is interactive and friendly to all users that want a tool that improves their wellbeing. Our plan is to include varios features including a planner, timer, scheduler, etc. We want to expand this plan with a sponsor and hopefully create a working website that can launched in the future outside of this Computer Science Principles Class.


{% endblock %}
