<!DOCTYPE html>
{% extends "layout.html" %}

{% block body %}

    <style>
        h1 {text-align: center;}
        p {text-align: center;}
        h2 {text-align: center;}
        li {text-align: center;}
        div {text-align: center;}
    </style>

    <h1> Mission Statement </h1>
    Welcome to our Health and Wellness Website. This website provides various tools for students in their daily lives through school and their extracurricular activities. We want to make sure this website is interactive and friendly to all users that want a tool that improves their wellbeing. Our plan is to include varios features including a planner, timer, scheduler, etc. We want to expand this plan with a sponsor and hopefully create a working website that can launched in the future outside of this Computer Science Principles Class.

    <h1>Contributors</h1>
    <p>Evan - Technical Officer <br>
        James - Scrum Master and Github Admin <br>
        William - Design Manager <br>
        Alex - Deployment Manager <br>
    </p>

    <h1>Project Sponsor</h1>
    <p>Our sponsor is a UCSD professor who wants a website that is focused on productivity and wellness of his students.</p>

    <h2>Initial Requirements</h2>
    <li>Some type of planner that allows for more friendly user interface </li>
    <li>Multiple features that can boost productivity for college students</li>
    <li>Some programs or components that can manage and check on mental health for the students</li>
    <h2>Tangible Plans</h2>
    <li>Drag and Drop Planner</li>
    <li>Standard Planner with User Input</li>
    <li>Timer</li>
    <li>Mathematics Tool</li>
    <li>Class Scheduler </li>
    <h2>Contact Information</h2>
    <p>Sponsor Email: jfmobi@gmail.com</p>

{% endblock %}
