<!DOCTYPE html>
{% extends "layout.html" %}

{% block body %}

    <style>
        *{
            text-align: center;
        }
        .missionStatement{
            margin-left:10%;
            margin-right:10%;
        }
    </style>

    <h1 style="margin-top:10px"> Study Tools </h1>
<br>
    <div class="missionStatement">
        <h2> Mission Statement </h2>

        <p>Welcome to our Study Tools Website.
        This website provides various tools for students
        in their daily lives through school and their
        extracurricular activities. We want to make sure
        this website is interactive and friendly to all
        users that want a tool that improves their well-being.
        Our plan is to include various features including
        a planner, timer, scheduler, etc. We want to expand this
        plan with a sponsor and hopefully create a working website
        that can launched in the future outside of this Computer Science
        Principles Class.
        </p>
        <a href="https://drive.google.com/file/d/1pAf1HuUN8_glpeSxb57h949lIa0dfffY/view?usp=sharing">Commercial</a>
    </div>

    </div>

{% endblock %}
