<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/" style="margin-left: 1%">{{basename}}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <style>
        .dropdown:hover{
            display: inline-block;
        }
    </style>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav">
            <!--root menu -->
            <li class="nav-item active">
                <a class="nav-link" href="/">Home</a>
            </li>
            <a class="nav-link" href="/mainabout">About Us</a>
            <li class="nav-item dropdown">

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" id="dropdownMenuButton1" type="button" aria-expanded="false">

                    Study Organizer
                </a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <a class="dropdown-item" href="/search">Drag and Drop Planner</a>
                    <a class="dropdown-item" href="/regularplanner">Regular Planner</a>
                    <a class="dropdown-item" href="/translator">Class Organizer</a>
                </div>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" id="dropdownMenuButton2" type="button" aria-expanded="false">
                    Mental Health Wellness
                </a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton2">
                    <a class="dropdown-item" href="/countries">Countries</a>
                    <a class="dropdown-item" href="/weather">Weather</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" id="dropdownMenuButton2" type="button" aria-expanded="false">
                    Other Useful Tools
                </a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton2">
                    <a class="dropdown-item" href="/population">Timer</a>
                    <a class="dropdown-item" href="/currency">Flask Cards</a>
                    <a class="dropdown-item" href="/Tdb-2">Calculator</a>
                </div>
            </li>

<!-- Navbar clock -->
            <div style="color:white;" class="btn-group">
                <div class="px-3" style="color:white;">
                    <span id="clock"></span>
                </div>
            </div>

            <!-- Navbar timer -->
            <div id="timerContainer">
                <div id="iconInputContainer" onclick="showTimer()">
                    <i class="fas fa-clock"></i>
                </div>
                <div id="timerInputContainer" style="display:none; background-color:white; border-radius:6px;" >
                    <input id="timerInput" type="number" min="0.1" max="120" step="0.1" value="1" style="border-radius: 6px;">
                    <button id="startButton" onclick="timer()" style="border-radius:6px; color:black">Set Timer</button>
                    <p style="text-align: center" id="remainingTime"></p>
                </div>
            </div>

        </div>
    </div>
</nav>

<script>
    // Clock Control
    // clockElement global element set for convenience
    let clockElement = document.getElementById('clock');
    // Clock update executes on each interval set by timer
    function clock() {
        let date = new Date();
        clockElement.textContent = date.toLocaleString();
    }
    // Clock refresh timer, a reoccurring event
    setInterval(clock, 1000);
    // End Clock Control

    function showTimer() {
        if (document.getElementById("timerInputContainer").style.display == "none") {
            document.getElementById("timerInputContainer").style.display = "block"
            if (localStorage.getItem('end') !== null) {
                timer()
            }
        } else {
            document.getElementById("timerInputContainer").style.display = "none"
        }
    }
    function timer() {
        var duration = document.getElementById("timerInput").value
        var current = new Date().getTime();
        var New = duration*60000;
        var end = current + New
        if (localStorage.getItem('end') !== null)
            end = localStorage.getItem('end')
        localStorage.setItem('end', end)
        document.getElementById("startButton").addEventListener("click",function(){
            localStorage.removeItem('end')
            clearInterval(myFunc)
            timer()

        })
        var myFunc = setInterval(function() {
            var now = new Date().getTime();
            var timeleft = end - now
            var hours = Math.floor((timeleft % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
            var minutes = Math.floor((timeleft % (1000 * 60 * 60)) / (1000 * 60));
            var seconds = Math.floor((timeleft % (1000 * 60)) / 1000);
            document.getElementById("remainingTime").style.color = "black"
            document.getElementById("remainingTime").innerText = (hours + ":" + minutes + ":" + seconds)
            if (timeleft<=0) {
                clearInterval(myFunc);
                document.getElementById("remainingTime").innerText = "TIME IS UP"
                document.getElementById("remainingTime").style.color = "red"
                document.getElementById("timerInputContainer").style.display = "block"
                localStorage.removeItem('end')
            }
        },1000)
    }
</script>

