<!DOCTYPE html>
<html lang="en">
{% include "navbar.html" %}
<!-- THE MAIN PROJECT -->
{% set basename = "Nighthawk Coding" %}

<head>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- FONTS -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cutive Mono"> <!-- a monospace -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Bebas Neue"> <!-- https://fonts.google.com/specimen/Bebas+Neue?category=Display -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poiret One"> <!-- https://fonts.google.com/specimen/Poiret+One?category=Display -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Monoton"> <!-- https://fonts.google.com/specimen/Monoton?category=Display -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Fredericka the Great"> <!-- https://fonts.google.com/specimen/Fredericka+the+Great?category=Display -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Forum"> <!--https://fonts.google.com/specimen/Forum?category=Display -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <style>
        p {
            font-family: Raleway;
        }
        body {
            background-color: antiquewhite;
        }
        h1 {
            font-family: Forum;
            font-size: 90px;
        }
        table {
            width: auto;
            /*column-rule: 4px dotted rgb(79, 185, 227);*/
        }
        .task {
            height:400px;
        }
        .task, .day, .complete, th, td{
            border: 5px solid black;
            column-rule: 4px dotted rgb(79, 185, 227);

        }
    </style>
    <title>Nighthawk Coding | Planner</title>
</head>

<body>
<div style="margin-left: 50px">
    <h1>PLANNER</h1>
    <p>This will be where we will build the main project - <b>a daily planner with alarms for tests, homework, etc.</b></p>

    <!-- button that leads to the repo, can style the button in css above -->
    <a href="https://github.com/NastyEthan/flask_portfolio" target="_blank" class="btn">Schedule and Calender (currently leads to github repo)</a>

    <table border="1">

        <tr align= "center">
            <th colspan="7">October 2021</th>
        </tr>

        <tr align= "center">
            <th >Sun</th>
            <th>Mon</th>
            <th>Tue</th>
            <th>Wed</th>
            <th>Thu</th>
            <th>Fri</th>
            <th>Sat</th>
        </tr>

        <tr>
            <td> <label> &nbsp </label>
                <input> </td>
            </td>
            <td> <label> &nbsp </label>
                <input> </td>
            <td> <label> &nbsp </label>
                <input> </td>
            <td> <label> &nbsp </label>
                <input> </td>
            <td> <label> &nbsp </label>
                <input> </td>
            <td><label for="plan">  1 </label>
                <p id="printhere"></p>
                Plan: <input type="text" id="plan">

                <button  onclick="display()">Add Info</button>
                <h6>Are You Done?</h6>
                <form>
                    <button id="Great work!" onClick="reply_click(this.id)">Yes!</button>
                    <button id="Don't worry, keep working on it!" onClick="reply_click(this.id)">No...</button>
                </form> </td>
            <td><label for="plan"> 2 </label>
                <p id="printhere"></p>
                Plan: <input type="text" id="plan">

                <button  onclick="display()">Add Info</button>
                <h6>Are You Done?</h6>
                <form>
                    <button id="Great work!" onClick="reply_click(this.id)">Yes!</button>
                    <button id="Don't worry, keep working on it!" onClick="reply_click(this.id)">No...</button>
                </form> </td>
        </tr>


        <tr>
            <td><label for="plan_3"> 3 </label>
                <input name="plan_3" id="plan_3" type="text" placeholder="plan">
                <h6>Are You Done?</h6>
                <form>
                    <button id="Great work!" onClick="reply_click(this.id)">Yes!</button>
                    <button id="Don't worry, keep working on it!" onClick="reply_click(this.id)">No...</button>
                </form> </td>
            <td><label for="plan_4"> 4 </label>
                <input name="plan_4" id="plan_4" type="text" placeholder="plan">
                <h6>Are You Done?</h6>
                <form>
                    <button id="Great work!" onClick="reply_click(this.id)">Yes!</button>
                    <button id="Don't worry, keep working on it!" onClick="reply_click(this.id)">No...</button>
                </form> </td>
            <td><label for="plan_5"> 5 </label>
                <input name="plan_5" id="plan_5" type="text" placeholder="plan">
                <h6>Are You Done?</h6>
                <form>
                    <button id="Great work!" onClick="reply_click(this.id)">Yes!</button>
                    <button id="Don't worry, keep working on it!" onClick="reply_click(this.id)">No...</button>
                </form> </td>
            <td><label for="plan_6"> 6 </label>
                <input name="plan_6" id="plan_6" type="text" placeholder="plan">
                <h6>Are You Done?</h6>
                <form>
                    <button id="Great work!" onClick="reply_click(this.id)">Yes!</button>
                    <button id="Don't worry, keep working on it!" onClick="reply_click(this.id)">No...</button>
                </form> </td>
            <td><label for="plan_7"> 7 </label>
                <input name="plan_7" id="plan_7" type="text" placeholder="plan">
                <h6>Are You Done?</h6>
                <form>
                    <button id="Great work!" onClick="reply_click(this.id)">Yes!</button>
                    <button id="Don't worry, keep working on it!" onClick="reply_click(this.id)">No...</button>
                </form> </td>
            <td><label for="plan_8"> 8 </label>
                <input name="plan_8" id="plan_8" type="text" placeholder="plan">
                <h6>Are You Done?</h6>
                <form>
                    <button id="Great work!" onClick="reply_click(this.id)">Yes!</button>
                    <button id="Don't worry, keep working on it!" onClick="reply_click(this.id)">No...</button>
                </form> </td>
            <td><label for="plan_9"> 9 </label>
                <input name="plan_9" id="plan_9" type="text" placeholder="plan">
                <h6>Are You Done?</h6>
                <form>
                    <button id="Great work!" onClick="reply_click(this.id)">Yes!</button>
                    <button id="Don't worry, keep working on it!" onClick="reply_click(this.id)">No...</button>
                </form> </td>
        </tr>

        <tr>
            <td><label for="plan_10"> 10 </label>
                <input name="plan_10" id="plan_10" type="text" placeholder="plan">
                <h6>Are You Done?</h6>
                <form>
                    <button id="Great work!" onClick="reply_click(this.id)">Yes!</button>
                    <button id="Don't worry, keep working on it!" onClick="reply_click(this.id)">No...</button>
                </form> </td>
            <td><label for="plan_11"> 11 </label>
                <input name="plan_11" id="plan_11" type="text" placeholder="plan">
                <h6>Are You Done?</h6>
                <form>
                    <button id="Great work!" onClick="reply_click(this.id)">Yes!</button>
                    <button id="Don't worry, keep working on it!" onClick="reply_click(this.id)">No...</button>
                </form> </td>
            <td><label for="plan_12"> 12 </label>
                <input name="plan_12" id="plan_12" type="text" placeholder="plan">
                <h6>Are You Done?</h6>
                <form>
                    <button id="Great work!" onClick="reply_click(this.id)">Yes!</button>
                    <button id="Don't worry, keep working on it!" onClick="reply_click(this.id)">No...</button>
                </form> </td>
            <td><label for="plan_13"> 13 </label>
                <input name="plan_13" id="plan_13" type="text" placeholder="plan">
                <h6>Are You Done?</h6>
                <form>
                    <button id="Great work!" onClick="reply_click(this.id)">Yes!</button>
                    <button id="Don't worry, keep working on it!" onClick="reply_click(this.id)">No...</button>
                </form> </td>
            <td><label for="plan_14"> 14 </label>
                <input name="plan_14" id="plan_14" type="text" placeholder="plan">
                <h6>Are You Done?</h6>
                <form>
                    <button id="Great work!" onClick="reply_click(this.id)">Yes!</button>
                    <button id="Don't worry, keep working on it!" onClick="reply_click(this.id)">No...</button>
                </form> </td>
            <td><label for="plan_15"> 15 </label>
                <input name="plan_15" id="plan_15" type="text" placeholder="plan">
                <h6>Are You Done?</h6>
                <form>
                    <button id="Great work!" onClick="reply_click(this.id)">Yes!</button>
                    <button id="Don't worry, keep working on it!" onClick="reply_click(this.id)">No...</button>
                </form> </td>
            <td><label for="plan_16"> 16 </label>
                <input name="plan_16" id="plan_16" type="text" placeholder="plan">
                <h6>Are You Done?</h6>
                <form>
                    <button id="Great work!" onClick="reply_click(this.id)">Yes!</button>
                    <button id="Don't worry, keep working on it!" onClick="reply_click(this.id)">No...</button>
                </form> </td>
        </tr>

        <tr>
            <td><label for="plan_17"> 17 </label>
                <input name="plan_17" id="plan_17" type="text" placeholder="plan">
                <h6>Are You Done?</h6>
                <form>
                    <button id="Great work!" onClick="reply_click(this.id)">Yes!</button>
                    <button id="Don't worry, keep working on it!" onClick="reply_click(this.id)">No...</button>
                </form> </td>
            <td><label for="plan_18"> 18 </label>
                <input name="plan_18" id="plan_18" type="text" placeholder="plan">
                <h6>Are You Done?</h6>
                <form>
                    <button id="Great work!" onClick="reply_click(this.id)">Yes!</button>
                    <button id="Don't worry, keep working on it!" onClick="reply_click(this.id)">No...</button>
                </form> </td>
            <td><label for="plan_19"> 19 </label>
                <input name="plan_19" id="plan_19" type="text" placeholder="plan">
                <h6>Are You Done?</h6>
                <form>
                    <button id="Great work!" onClick="reply_click(this.id)">Yes!</button>
                    <button id="Don't worry, keep working on it!" onClick="reply_click(this.id)">No...</button>
                </form> </td>
            <td><label for="plan_20"> 20 </label>
                <input name="plan_20" id="plan_20" type="text" placeholder="plan">
                <h6>Are You Done?</h6>
                <form>
                    <button id="Great work!" onClick="reply_click(this.id)">Yes!</button>
                    <button id="Don't worry, keep working on it!" onClick="reply_click(this.id)">No...</button>
                </form> </td>
            <td><label for="plan_21"> 21 </label>
                <input name="plan_21" id="plan_21" type="text" placeholder="plan">
                <h6>Are You Done?</h6>
                <form>
                    <button id="Great work!" onClick="reply_click(this.id)">Yes!</button>
                    <button id="Don't worry, keep working on it!" onClick="reply_click(this.id)">No...</button>
                </form> </td>
            <td><label for="plan_22"> 22 </label>
                <input name="plan_22" id="plan_22" type="text" placeholder="plan">
                <h6>Are You Done?</h6>
                <form>
                    <button id="Great work!" onClick="reply_click(this.id)">Yes!</button>
                    <button id="Don't worry, keep working on it!" onClick="reply_click(this.id)">No...</button>
                </form> </td>
            <td><label for="plan_23"> 23 </label>
                <input name="plan_23" id="plan_23" type="text" placeholder="plan">
                <h6>Are You Done?</h6>
                <form>
                    <button id="Great work!" onClick="reply_click(this.id)">Yes!</button>
                    <button id="Don't worry, keep working on it!" onClick="reply_click(this.id)">No...</button>
                </form> </td>
        </tr>

        <tr>
            <td><label for="plan_24"> 24 </label>
                <input name="plan_24" id="plan_24" type="text" placeholder="plan">
                <h6>Are You Done?</h6>
                <form>
                    <button id="Great work!" onClick="reply_click(this.id)">Yes!</button>
                    <button id="Don't worry, keep working on it!" onClick="reply_click(this.id)">No...</button>
                </form> </td>
            <td><label for="plan_25"> 25 </label>
                <input name="plan_25" id="plan_25" type="text" placeholder="plan">
                <h6>Are You Done?</h6>
                <form>
                    <button id="Great work!" onClick="reply_click(this.id)">Yes!</button>
                    <button id="Don't worry, keep working on it!" onClick="reply_click(this.id)">No...</button>
                </form> </td>
            <td><label for="plan_26"> 26 </label>
                <input name="plan_26" id="plan_26" type="text" placeholder="plan">
                <h6>Are You Done?</h6>
                <form>
                    <button id="Great work!" onClick="reply_click(this.id)">Yes!</button>
                    <button id="Don't worry, keep working on it!" onClick="reply_click(this.id)">No...</button>
                </form> </td>
            <td><label for="plan_27"> 27 </label>
                <input name="plan_27" id="plan_27" type="text" placeholder="plan">
                <h6>Are You Done?</h6>
                <form>
                    <button id="Great work!" onClick="reply_click(this.id)">Yes!</button>
                    <button id="Don't worry, keep working on it!" onClick="reply_click(this.id)">No...</button>
                </form> </td>
            <td><label for="plan_28"> 28 </label>
                <input name="plan_28" id="plan_28" type="text" placeholder="plan">
                <h6>Are You Done?</h6>
                <form>
                    <button id="Great work!" onClick="reply_click(this.id)">Yes!</button>
                    <button id="Don't worry, keep working on it!" onClick="reply_click(this.id)">No...</button>
                </form> </td>
            <td><label for="plan_29"> 29 </label>
                <input name="plan_29" id="plan_29" type="text" placeholder="plan">
                <h6>Are You Done?</h6>
                <form>
                    <button id="Great work!" onClick="reply_click(this.id)">Yes!</button>
                    <button id="Don't worry, keep working on it!" onClick="reply_click(this.id)">No...</button>
                </form> </td>
            <td><label for="plan_30"> 30 </label>
                <input name="plan_30" id="plan_30" type="text" placeholder="plan">
                <h6>Are You Done?</h6>
                <form>
                    <button id="Great work!" onClick="reply_click(this.id)">Yes!</button>
                    <button id="Don't worry, keep working on it!" onClick="reply_click(this.id)">No...</button>
                </form> </td>
        </tr>

        <tr>
            <td><label for="plan_31"> 31 </label>
                <input name="plan_31" id="plan_31" type="text" placeholder="plan">
                <h6>Are You Done?</h6>
                <form>
                    <button id="Great work!" onClick="reply_click(this.id)">Yes!</button>
                    <button id="Don't worry, keep working on it!" onClick="reply_click(this.id)">No...</button>
                </form> </td>
        </tr>

    </table>

    <body>
    <p id="printhere"></p>
    Plan: <input type="text" id="plan">

    <button  onclick="display()">Add Info</button>


    </body>

    <script>

        function reply_click(clicked_id)
        {
            alert(clicked_id);
        }

        function display(){

            var plan = document.getElementById("plan").value;
            document.getElementById("printhere").innerHTML = plan;
        }
    </script>
</div>

